[Unit]
Description=Lightweight Kubernetes
Documentation=https://k3s.io
Requires=mnt-data.mount gmak8-k3s-compat.service
Wants=network.target mnt-data-prep.service mnt-config.mount k3s-config-sync.service
After=network.target mnt-data.mount mnt-data-prep.service mnt-config.mount k3s-config-sync.service gmak8-k3s-compat.service

[Service]
Type=notify
KillMode=process
Delegate=yes
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=always
RestartSec=5s
StandardOutput=journal+console
StandardError=journal+console
ExecStartPre=-/sbin/modprobe br_netfilter
ExecStartPre=-/sbin/modprobe overlay
ExecStart=/usr/local/bin/k3s server
ExecStartPost=-/bin/sh -c 'mkdir -p /mnt/data/rancher/server && /usr/local/bin/k3s --version > /mnt/data/rancher/server/k3s-version'

[Install]
WantedBy=multi-user.target
